@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #2F2F2F;

  background-color: #F4ECE1;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #2F2F2F;
}

button {
  background-color: inherit;
  border: none;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1390px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.header__logo {
  font-weight: 600;
  font-size: 32px;
  display: flex;
  gap: 4px;
}

.header__logo-img {
  padding-bottom: 6px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 56px;
}

.header__nav-link {
  font-size: 22px;
}

.header__cart {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.header__cart-count {
  font-size: 10px;
  position: relative;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
  width: 16px;
  height: 17px;
  background-color: #EC2633;
  color: #FFFFFF;
  border-radius: 50%;
}

.main {
  display: flex;
  margin-top: 40px;
}

.main-aside {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 60px;
}

.main__title {
  display: flex;
  align-items: center;
  gap: 17px;
}

.main__title-first {
  font-weight: 700;
  font-size: 125px;
  color: #FF7E00;
}

.main__title-second {
  font-weight: 700;
  font-size: 52px;
  line-height: .95;
}

.main__title-decoration {
  position: relative;
  top: -70px;
  left: -110px;
}

.main__description {
  width: 570px;
  font-size: 22px;
  font-weight: 1.38;
  color: #909090;
}

.main__button {
  font-weight: 600;
  font-size: 20px;
  line-height: .94;
  margin-top: 44px;
  padding: 25px 40px;
  background-color: #2F2F2F;
  color: #F4ECE1;
  border-radius: 84px;
  box-shadow: 0 20px 32px -8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.main__rating {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.main__rating-stars {
  display: flex;
  gap: 2px;
}

.main__rating-stars-icon {
  width: 28px;
  height: 28px;
  background-image: url('./img/icons/star.svg');
}

.main__rating-title {
  font-weight: 600;
  font-size: 18px;
  margin-top: 11px;
}

.main__rating-info {
  color: #909090;
}

.main-decoration {
  position: relative;
  left: -80px;
}
